.header_main {
    background-image: url("../../../images/ImageAndIcon/header-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.overly {
    height: 53rem;
}

.overly {
    background: rgba(36, 34, 65, 0.603);
}

.video ::after {
    background: rgba(36, 34, 65, 0.603) !important;
}

.line_height {
    line-height: 2rem;
}