.google_btn {
    outline: none !important;
    background-color: #00bfa6;
}

.google_btn:hover {
    background-color: #00bfa6e0;
}

.googleIcon {
    width: 43px;
    float: left;
}

#google_title{
    font-size: 18px;
    font-weight: 500;
}