.menu_icon {
    width: 3.6rem !important;
    height: 2.5rem !important;
    outline: none !important;
    background-color: #fcd742 !important;
}

.icon {
    color: #cc07a1bb;
}

.brand_name {
    font-size: 26px !important;
    font-weight: 500;
}

.brand_name span {
    color: yellow;
}

.nav_item {
    font-size: 20px !important;
}