.brand_btn {
  border: none;
  outline: none;
  width: 11rem;
  line-height: 54px;
  font-weight: 700;
  background-color: #fcd842 !important;
}

.Training_Programs_Btn {
  border: none;
  outline: none;
  line-height: 49px;
  font-weight: 500;
  background-color: #fcd842;
  position: absolute;
  top: 20rem;
  box-sizing: border-box;
}

.purchase_btn {
  border: none;
  outline: none !important;
  width: 13rem;
  line-height: 49px;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: #fcd842;
}