.brand_btn {
  border: none;
  outline: none;
  width: 10rem;
  line-height: 40px;
  font-weight: 700;
  background-color: #fcd842;
}

.Training_Programs_Btn {
  border: none;
  outline: none;
  line-height: 49px;
  font-weight: 500;
  background-color: #fcd842;
  position: absolute;
  top: 20rem;
  box-sizing: border-box;
}

.purchase_btn {
  border: none;
  outline: none !important;
  width: 14rem;
  line-height: 49px;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: #fcd842;
  position: relative;
  left: 2rem;
  box-sizing: border-box;
}
